.maindiv{
    padding-top: 15px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    background-color:rgb(255, 255, 255);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    
}

.coinname{
    width: max;
    padding-left: 4%;
}

.lastprice{
    width: max;
    padding-left: 10%;
    
}

.percentchange{
    width: max;
    padding-left: 19%;
}

.hchange{
    width: max;
    padding-left: 16%;
}

.lchange{
    width: max;
    padding-left: 13%;
}

.sdiv{
    color: #747474;
}

@media screen and (max-device-width: 800px) {
    .hchange {visibility: hidden; width: 0px; padding-left:0px}
    .lchange {visibility: hidden; width: 0px; padding-left:0px}
    .lastprice {padding-left: 20%;}
    .percentchange{padding-left: 33%;}
    .fullname{visibility: hidden}
}