.currency {
    width: 240px;
    padding-left: 110px;
}

.percent {
    width: 80px;
} 

 /* tr {
    width: 450px;
}  */
.gav{
    width: 20px;
}

.percentcolor{
    border-radius: 16px;
    padding: 0.4em 0.5em;
    font-size: .9em;
    color: #fff;
}

 .highcurrency {
    width: 280px;
    padding-left: 150px;
}

.lowcurrency {
    width: 280px;
    padding-left: 140px;
} 

 .coin{
    width: 300px;
    
} 

.borderr16{
    border-radius: 16px;
}

.fire{
    
    max-width: 12px;
} 

@media screen and (max-device-width: 800px) {
    .highcurrency {visibility: hidden; width: 0px; padding-left:0px}
    .lowcurrency {visibility: hidden; width: 0px; padding-left: 0px}
    .percent {padding-left: 34%;}
    .coin{ width: 10%; } 
    .currency{padding-left: 37%; }
    .gav{ visibility: hidden;}
    
}